@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

:root {
    --cor-primaria: #0A3871;
    --cor-secundaria: #D8DFE8;
}



body {
    background-color: var(--cor-secundaria);
    height: 100vh;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 70px;
}

.logo {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    margin-left: 40px;

}

main {
    width: 100vh;
    display: flex;
    justify-content: space-between;

}

.conteudo {
    display: flex;
    align-self: center;
}

.caixa {
    display: flex;
    flex-direction: column;

}

.text-area{
    background-color: var(--cor-secundaria);
    border: 0 none;
    resize: none;
    outline: 0;
    margin-left: 20%;
    margin-top: 1px;
}

.mensagem {
    background:url(../img/hairBlue.png) center center no-repeat;
    position:absolute;
    background-repeat: no-repeat;
    border: 0 none;
    resize: none;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 60px;
    padding-left: 120px;
    height: 900px;
}
.alerta {
    display: flex;
    align-items:flex-start;
    margin-left: 20px;
}
.botoes {
    display: flex;
    align-items: center;
    margin-top: 1200px;
}
.cripto {
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    height: 67px;
    width: 328px;
    color: #d8dfe8;
    cursor: pointer;
    margin: 10px;
}
.descripto {
    background-color: var(--cor-secundaria);
    border: 0.5px solid var(--cor-primaria);
    border-radius: 24px;
    height: 67px;
    width: 328px;
    color: var(--cor-primaria);
    cursor: pointer;
    margin: 10px;
}

.copiar {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 24px;
    height: 67px;
    width: 328px;
    color: var(--cor-primaria);
    cursor: pointer;
    margin-left: 160px;
    margin-top: 700px;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .mensagem {
        position: static;
        width: 70%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 100px;
    }

    .copiar {
        margin-top: 20px;
        position: static;
        margin-right: 100px;
    }

    .botoes {
        width: 100%;
        margin-right: 100px;
    }
    .alerta {
        margin-left: 0;
        margin-top: 500px;
 
    }
    .text-area{
        margin-right: 100px;
    }
}
